* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #ECFEFA, #d161ff);
}

html {
  font-size: 16px;
}

.board-container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: 700;
}

.board-container button {
  width: fit-content;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 2px 2px 4px;
  font-weight: 700;
}

.board-container button:hover {
  border: none;
  color: white;
  background-color: black;
}

.board-row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2vmin;
}

.square {
  background: #ffffff;
  height: 15vmin;
  width: 15vmin;
  border: none;
  border-radius: 8px;
  font-size: 7vmin;
  color: #d161ff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}